<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilePhoto.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Lopez Fontana, Ana Carla</p>
        <p>Full Stack Developer Jr</p>
        <p>IT Support Specialist Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio ratione illum magnam est labore officiis vel. Cupiditate illum consectetur suscipit? Modi quia quaerat, fugit magni aperiam exercitationem! Fugit, doloremque repudiandae?</p>
        </span>
    </div>
</div>
